@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');

.font-work-sans-regular {
    font-family: 'Work Sans', sans-serif;
}
/** Toolbar Styling **/
.toolbar {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  background: #f4f4f4;
  color: black;
}


/** Homepage BG **/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


:root {
  --background: #f4f4f4;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
